<div class="container my-3">
    <form [formGroup]="suggestionForm" (ngSubmit)="addSuggestion()">
        <label for="type">Type</label>
        <select name="type" id="type" class="form-select" formControlName="type">
            <option value="">Select a suggestion type</option>
            <option *ngFor="let type of types" value={{type}}>{{type}}</option>
        </select>
        <label for="content">What is the suggestion?</label>
        <textarea name="content" id="content" class="form-control" placeholder="Enter suggestion here" formControlName="content"></textarea>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="complete" formControlName="complete">
            <label class="form-check-label" for="complete">
                Completed?
            </label>
        </div>
        <div class="d-grid mt-3">
            <button type="button" class="btn btn-success" [disabled]="suggestionForm.invalid" *ngIf="suggestion; else create" (click)="editSuggestion()">Update</button>
            <ng-template #create><button type="button" class="btn btn-success" (click)="addSuggestion()">Submit</button></ng-template>
        </div>
        
    </form>
</div>