<button class="btn btn-success my-3 rounded-pill" (click)="addSuggestion()">
    <svg class="bi" width="32" height="32" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#plus" />
    </svg>
</button>
<h1>Current Suggestions</h1>
<div *ngFor="let suggestion of suggestions" style="cursor: pointer;">
    <div *ngIf="!suggestion.complete">
        <div class="card shadow-sm mb-3 link"  (click)="editSuggestion(suggestion)">
            <div class="card-header pastel" *ngIf="suggestion.type == 'Feature Request'; else bug">
                <h2>{{suggestion.type}}</h2>
            </div>
            <ng-template #bug>
                <div class="card-header pastel-danger">
                    <h2>{{suggestion.type}}</h2>
                </div>
            </ng-template>
            <div class="card-body">
                <p>{{suggestion.content}}</p>
                <p>{{suggestion.date.toDate() | date}}</p>
            </div>
        </div>
    </div>
</div>

