<div class="card shadow pastel">
    <div class="card-body">
        <h1 class="display-5">{{currDate | date:'MMMM'}}'s Budget</h1>
        <hr>
        <div class="card">
            <div class="card-body">
                <p *ngFor="let total of totals">
                    {{total.category}}: {{total.percentage}}% used ({{total.remaining | currency}} remaining)
                    <ngb-progressbar type="danger" [value]="total.percentage" *ngIf="total.percentage >= 90"></ngb-progressbar>
                    <ngb-progressbar type="warning" [value]="total.percentage" *ngIf="total.percentage >= 50 && total.percentage < 90"></ngb-progressbar>
                    <ngb-progressbar type="success" [value]="total.percentage" *ngIf="total.percentage < 50"></ngb-progressbar>
                </p>
            </div>
        </div>
    </div>
</div>
