<h1 class="display-5">{{currDate | date:'MMMM'}}'s Budget</h1>
<hr>
<p *ngFor="let total of totals">
  {{total.category}}: {{total.percentage}}% used ({{total.remaining | currency}} remaining)
  <ngb-progressbar type="danger" [value]="total.percentage" [striped]="true" [animated]="true"
    *ngIf="total.percentage > 100">{{total.amount | currency}}</ngb-progressbar>
  <ngb-progressbar type="danger" [value]="total.percentage" *ngIf="total.percentage >= 90 && total.percentage <= 100">
    {{total.amount | currency}}</ngb-progressbar>
  <ngb-progressbar type="warning" [value]="total.percentage" *ngIf="total.percentage >= 50 && total.percentage < 90">
    {{total.amount | currency}}</ngb-progressbar>
  <ngb-progressbar type="success" [value]="total.percentage" *ngIf="total.percentage < 50">{{total.amount |
                currency}}</ngb-progressbar>
</p>
<p class="fs-3">Total used so far: {{getTotalSpent() | currency}}</p>
