<div class="content">
    <div class="d-flex justify-content-center">
        <img src="assets/images/homepage/thinkbudget.png" alt="thinkbudget logo" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4 mt-3">
        <h1>Step 1.</h1>
        <h2 class="h4">Download your transactions</h2>
        <p>You can pull your transaction history from most financial institutions, be sure to select the .csv option.</p>
    </div>
    <div class="col-sm-12 col-md-4 mt-3">
        <h1>Step 2.</h1>
        <h2 class="h4">Setup a parsing profile in Thinkbudget</h2>
        <p>By creating a parsing profile you are essentially telling Thinkbudget how to read the csv file to correctly pull the information.</p>
        <a routerLink="/account/settings">Get started!</a>
    </div>
    <div class="col-sm-12 col-md-4 mt-3">
        <h1>Step 3.</h1>
        <h2 class="h4">Create your budget</h2>
        <p>Create a budget with your own custom categories which you can then assign to the transactions you import. This will let thinkbudget track your budget progress and ensure you maintain your limits!</p>
        <a routerLink="/account/settings">Get started!</a>
    </div>
</div>

