<div class="container my-3">
    <h1 class="display-5">Transaction Information</h1>
    <form [formGroup]="transForm" (ngSubmit)="submitChanges()">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label for="bankAccountName">Bank Account</label>
                <input type="text" class="form-control" name="bankAccountName" id="bankAccountName" formControlName="bankAccountName">
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="transAmount">Transaction Amount</label>
                <input type="number" class="form-control" name="transAmount" id="transAmount" formControlName="transAmount">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label for="transPayee">Payee</label>
                <input type="text" class="form-control" name="transPayee" id="transPayee" formControlName="transPayee">
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="transType">Description</label>
                <input type="text" class="form-control" name="transType" id="transType" formControlName="transType">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label for="transDate">Date</label>
                <input type="date" class="form-control" name="transDate" id="transDate" formControlName="transDate">
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="transCategory">Category</label>
                <select name="transCategory" id="transCategory" class="form-select" formControlName="transCategory">
                    <option value="">Select a category</option>
                    <option *ngFor="let category of categories">{{category}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="transNote">Notes</label>
                <textarea name="transNote" id="transNote" cols="30" rows="10" class="form-control" formControlName="transNote"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-success" *ngIf="trans; else adding">Upload Changes</button>
                    <button type="button" class="btn btn-danger" *ngIf="trans" (click)="removeTransaction()">Delete Transaction</button>
                    <ng-template #adding><button class="btn btn-success" type="button" (click)="addTransaction()" [disabled]="transForm.invalid">Add Transaction</button></ng-template>
                </div>
            </div>
        </div>
    </form>

</div>
